 h1{
            color: red;
        }

        p{
            color: hsl(270, 76%, 72%);
        }

        button{
            background-color: hsl(240, 63%, 74%);
            padding: 1rem;
            border-radius: 1rem;
            color: hsl(270, 75%, 41%);
            font-size: 50px;
        }
